body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Spotify's dark background */
    color: #fff; /* Light text for contrast */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #1DB954; /* Spotify Green */
    text-align: center;
    font-weight: normal;
    margin-bottom: 2rem; /* Increased bottom margin for spacing */
}

a#login-link, a {
    color: #1DB954; /* Spotify link color */
    font-weight: bold;
    text-decoration: none; /* No underlines for a clean look */
    display: block; /* Make the link block for better control */
    text-align: center;
    margin: 20px auto; /* Centering the link */
    width: fit-content;
}

ul#playlist-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust this to manage the size of the items */
    gap: 20px;
    padding: 0;
    margin-left:25%;
    list-style-type: none;
    margin-top: 20px;
}
ul#playlist-list li {
    background: linear-gradient(145deg, #181818, #282828);
    border: 1px solid #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul#playlist-list li:hover {
    transform: scale(1.02); /* Slight scale for interaction */
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);

}

form#playlist-form {
    background: #181818;
    padding: 20px;
    border: 1px solid #333;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #121212;
    color: #fff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1DB954;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}



/* Additional Styles for Centering and Aesthetics */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #292929;
}



/* Improve overall typography for readability */
p, label {
    color: #b3b3b3; /* Light grey for less contrast and easier reading */
    line-height: 1.6; /* Improve spacing between lines */
}
/* Style for the label when the checkbox is checked */



/* Optional: Custom checkbox appearance */
input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff; /* White border */
    border-radius: 4px;
    vertical-align: middle;
}



#playlist-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
    list-style-type: none;
    
    width: 100%;
    margin-top: 20px;
}

/* Label styling for a full-width clickable area */


/* Styling checkboxes to be visually hidden but accessible */
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: -9999px; /* Move off-screen */
}

/* Custom checkbox for visual feedback */
input[type="checkbox"] + label:before {
    content: '';
    display: inlineblock-;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 100px;
    vertical-align: middle;
    cursor: pointer;
}

/* Checked state */
input[type="checkbox"]:checked + label:before {
    background-color: #ffffff; /* Green background for checked */
    border-color: #ffffff; /* Matching border color */
}

/* Style when the checkbox inside a playlist item is checked */
.playlist-item input[type="checkbox"]:checked + label {
    background-color: #b1b5b3; /* Spotify green to indicate selection */
    color: white; /* Ensure text is readable on the green background */
    width: 100%; /* Ensure the label fills the item for a consistent background */
    display: block; /* Make the label a block element to fill the container */
    border-radius: 10px; /* Maintain rounded corners */
}

/* Enhance the appearance of the label to fill its container */
.playlist-item label {
    width: 100%; /* Ensure the label fills its container */
    padding: 10px; /* Matching padding for visual consistency */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}


/* Custom checkbox styling */


/* Base styles for the checkbox container */
.playlist-checkbox {
    background-color: #ffffff;
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

/* Styles for the labels */
.playlist-label {
    
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    display: block;
}

/* Styles for the break elements, if needed */
.playlist-break {
    background-color: #383838;
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

/* Hover styles for the checkbox container */
.playlist-checkbox:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Hover styles for labels */
.playlist-label:hover {
    background-color: #494949; /* Slightly darker green on hover */
}

/* Enhance checked state with a smooth hover effect */
.playlist-item input[type="checkbox"]:checked + label:hover:before {
    background-color: #89938d; /* A lighter green for checked state hover */
}
